<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/main.css">
    <title>Chat app</title>
</head>
<body>
    <header>
        <h1>Realtime chat app</h1>
    </header>
    <div class="chat-area">
        <div class="chat-container">
            <div class="reciever-msg">
                <div class="from-user">
                    <h3>Aditya kumar</h3>
                </div>
                <div class="from-msg">
                    <p class="msg-style">How are you ?</p>
                </div>
            </div>
            <div class="sender-msg">
                <div class="msg-me">
                    <p class="msg-style">i am fine !</p>
                </div>
            </div>
        </div>
        <div class="sent-chat">
            <input type="text" aria-autocomplete="none" placeholder="type messages" name="query" id="query">
            <button id="submitBtn" type="submit">Send</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/model.js"></script>
    <script src="../public/js/app.js"></script>
    
</body>
</html>